* {
    margin: 0;
}

body {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #87879D;
    font-family: 'Red Hat Display', sans-serif;
    background: #FAFAFA;
}

header {
    padding: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    overflow: hidden;
}

.hero {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 110px;
}

/* I'm only going to use this off-set look for hero images in the 1400-> 1600 range*/
/* And another off-set free look from 1600 to 1900, and a contained look from 1900 up*/

.hero-image-left {
    width: 35%;
    flex-shrink: 1;
    position: relative;
    left: -40px;
}

.hero-image-right {
    width: 35%;
    flex-shrink: 1;
    position: relative;
    right: -40px;
    top: 60px
}

.hero-content-box {
    flex-shrink: 0;
    width: 540px;
    text-align: center;
    padding-top: 54px; /*358 - 304 is 54*/
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

h1 {
    width: 445px;
    margin: 0 auto 34px;
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    color: #28283D;
}

.hero-content-box p {
    margin-bottom: 32px;
}

.btn {
    padding: 1em 2em;
    background: #4D96A9;
    border-radius: 1.8125em;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 900;
}

.vertical-line {
    height: 84px;
    mix-blend-mode: normal;
    opacity: 0.25;
    border: 1px solid #87879D;
}

.numbered-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbered-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #FAFAFA;
    border: 1px solid rgba(135, 135, 157, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}