* {
    margin: 0;
}

body {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #87879D;
    font-family: 'Red Hat Display', sans-serif;
}

.hero {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* I'm only going to use this off-set look for hero images in the 1400-> 1600 range*/
/* And another off-set free look from 1600 to 1900, and a contained look from 1900 up*/

.hero-image-left {
    width: 35%;
    flex-shrink: 1;
    position: relative;
    left: -40px;
}

.hero-image-right {
    width: 35%;
    flex-shrink: 1;
    position: relative;
    right: -40px;
    top: 80px
}

.hero-content-box {
    flex-shrink: 0;
    width: 540px;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    color: #28283D;
    margin-bottom: 34px;
}

.hero-content-box p {
    margin-bottom: 32px;
}